{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}" type="text/css"/>
{% endblock %}

{% block body %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>

    <div class="container">
        <div class="calendar">
            <div class="row">
                <h1 id="current-month" class="col-sm-11 title"><strong>{{ dateWithMonthAndYear }}</strong></h1>
                <div class="col-sm-1">
                    <a href="{{ relative_path(path('app_calendar', {'dateFormat' : monthBefore})) }}"><i id="last-month"
                                                                                                         class="fas fa-arrow-left"></i></a>
                    <a href="{{ relative_path(path('app_calendar', {'dateFormat' : monthAfter})) }}"><i id="last-month"
                                                                                                        class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="row days-row">
                <p class="day-name">Dimanche</p>
                <p class="day-name">Lundi</p>
                <p class="day-name">Mardi</p>
                <p class="day-name">Mercredi</p>
                <p class="day-name">Jeudi</p>
                <p class="day-name">Vendredi</p>
                <p class="day-name">Samedi</p>
            </div>
            {% for keyWeek, week in calendarOnMonth %}
                <div class="row weeks-row">
                    {% for keyDay, day in calendarOnMonth[keyWeek] %}
                        {% set attributeWeekBlock = "day-block" %}

                        {% if 0 == keyDay %}
                            {% set attributeWeekBlock = attributeWeekBlock ~ " day-block-left" %}
                        {% elseif 6 == keyDay %}
                            {% set attributeWeekBlock = attributeWeekBlock ~ " day-block-right" %}
                        {% else %}
                            {% set attributeWeekBlock = attributeWeekBlock ~ " day-block-center" %}
                        {% endif %}

                        {% if false == calendarOnMonth[keyWeek][keyDay]['currentMonth'] %}
                            {% set attributeWeekBlock = attributeWeekBlock ~ " other-month" %}
                        {% else %}
                            {% set attributeWeekBlock = attributeWeekBlock ~ " current-month" %}
                        {% endif %}

                        <div id="{{ calendarOnMonth[keyWeek][keyDay]['id'] }}" class="{{ attributeWeekBlock }}"
                             data-toggle="modal" data-target="#exampleModal">
                            <p class="date-number">{{ calendarOnMonth[keyWeek][keyDay]['date']['dateTime']|date("j") }}</p>
                            {% for absence in calendarOnMonth[keyWeek][keyDay]['absences'] %}
                                {% if absence.state == 'NONE' %}
                                    <div class="col-sm-12 absence absence-none">
                                        <p>{{ absence.absenceReason }}</p>
                                    </div>
                                {% elseif absence.state == 'ACCEPTED' %}
                                    <div class="col-sm-12 absence absence-accepted">
                                        <p>{{ absence.absenceReason }}</p>
                                    </div>
                                {% elseif absence.state == 'REFUSED'%}
                                    <div class="col-sm-12 absence absence-refused">
                                        <p>{{ absence.absenceReason }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter une absence</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formAbsence) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(formAbsence) }}
                    </div>
                    <div id="absence-form" class="container">
                        {{ form_row(formAbsence.dayAt) }}
                        {{ form_row(formAbsence.halfDayType) }}
                        {{ form_row(formAbsence.absenceReason) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ form_end(formAbsence) }}
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/ffa27a3a7a.js" crossorigin="anonymous"></script>

    <script>

      $(".day-block").on('click', (event) => {
        let x = parseInt(event.currentTarget.id / 7);
        let y = event.currentTarget.id % 7;
        let currentDate = {{ calendarOnMonth | json_encode | raw }}[x][y]['date'];

        $("#absence_form_dayAt_date_day").val(parseInt(currentDate['day']));
        $("#absence_form_dayAt_date_month").val(parseInt(currentDate['month']));
        $("#absence_form_dayAt_date_year").val(parseInt(currentDate['year']));
      });
    </script>

{% endblock %}

{% block javascript %}

{% endblock %}
