{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <div class="form-signin">
    <h1 class="font-weight-bold">Inscription</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {'label': 'Email', 'attr': {'placeholder' : 'exemple: catho@gmail.com'} }) }}
    {{ form_row(registrationForm.plainPassword.first) }}
    {{ form_row(registrationForm.plainPassword.second) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <input type="submit" title="S'inscrire" class="btn btn-primary"/>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}
